
*{
    margin: 0;
    padding: 0;
}




/* Apartir daqui o banner */ 

.banner img{
    width: 100%;
    
}

/*Apartir loremIpsum*/

.loremIpsum{
    margin-top: 5%;
    display: flex;
    gap: 6%;
    justify-content: center;
    align-items: center;
}

.loremIpsum .texto{
    width: 40%;
    text-align: justify;
}

.loremIpsum .texto p{
    font-size: 125%;
}

/* Apartir daqui o navbar */

.subNavbar{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4%;
}

.categoria{
    display: flex;
    background-color: #c7ffde;
    border-radius: 30px;
    width: 27%;
    height: 35vh;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px 2px #47474780;
    transition: 0.7s;
    text-decoration: none;
    color: black;
}


.categoria:hover{
    transform: scale(1.02);
}

 
