*{
    margin: 0;
    padding: 0;
}


.navbar{
    background-color: #e3cefd;
    box-shadow: 0px 0px 20px #e0e6e3;
    
}

.navbar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo{
    width: 17vh;
    padding: 24% 0;
}

.opcao{
    width: 6vh;
    
}


/*footer*/
footer{
        margin-top: 12%;
        background-color: #c99dff;
        display: flex;
        justify-content: space-around;
        padding: 25px 15px;
        
    }

    footer a, h1, p{
        text-decoration: none;
        color: #2B2B2B;

    }

    footer h1{
        font-size: 220%;
        font-family: 'Mogra', serif;
    }

    footer p, a{
        font-size: 145%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }

    footer img{
        width: 15%;
       
    }

    .tipoDisplay{
        display: flex;
        flex-direction: column;
        background-color: #dcbeff;
        border-radius: 20px;
        padding: 2%;
        width: 35%;
    }


    

